#$Id$
 
#There is a problem with multiviews as lncln currently stands.
Options -MultiViews

#Make sure index.php is loaded right away
DirectoryIndex index.php
 
RewriteEngine On 
RewriteRule ^page/([0-9]+)$ index.php?page=$1
RewriteRule ^rss(?:/)?([a-zA-Z]+)?$ rss.php?action=$1

#RewriteRule ^admin/$ admin/ [L]

RewriteRule ^([a-z]*)(?:/)?([a-zA-Z0-9/+]+)?$ index.php?module=$1&q=$2
